{% extends "base.html" %}
{% block content %}
<h1>Askareet</h1>
<p>
    <button class="btn btn-default">Lisää</button>
    
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Lisäyspäivä</th>
            <th>Tärkeysaste</th>
            <th>Luokka</th>
            <th>Kuvaus</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="askareenmuokkaus" class="btn btn-default">Muokkaa</a></td>
            <td><button class="btn btn-danger">Poista</button></td>
        </tr>
    </tbody>
</table>
{% endblock %}